#register{
  padding: 10px;
  h2{
    text-align: center;
    color: $register-font-color;
    margin: 5px;
  }
  form{
    background-color: $register-bg-color;
    margin: 0 auto;
    padding: 20px 25px;
    text-align: center;
    @include border-radius(3px);

    @media (max-width: $mobile-max){
      width: 75%;
    }
    @media (min-width: $desktop-min){
      width: 400px;
    }

    input{
      width: 100%;
      margin: 5px 0px;
      padding-left: 5px;
      border: none;
      text-align: left;
    }
    .error{
      color: $register-error-font-color;
      font-size: 12px;
      font-weight: bold;
      text-align: left;
    }

    button[type="submit"]{
      background-color: $register-btn-bg-color;
      color: $register-btn-font-color;
      width: 100%;
      margin: 5px 0px;
      padding: 5px;
      border: none;

      &:hover{
        cursor: pointer;
      }
    }
  }
}
