#topic-list{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;

  h3{
    color: $topicList-font-color;
  }

  //breadcrumb navigation
  .breadcrumbs{
    list-style-type: none;
    margin: 5px 5px 5px 0px;
    padding-left: 0px;

    li{
      font-size: 12px;
      display: inline-block;
      background-color: $topicList-breacrumbs-bg-color;
      color: $topicList-font-color;
      line-height: 25px;

      a{
        display: inline-block;
        color: $topicList-font-color;
        text-decoration: none;
        font-weight: bold;
        padding: 0px 5px;
      }
      span{
        display: inline-block;
        padding: 0px 5px;
      }
    }
  }

  //table
  table{
    width: 100%;
    border-collapse: collapse;
    color: $topicList-table-td-font-color;

    thead tr{
      background-color: $topicList-table-border-color;

      th{
        text-align: left;
      }
    }

    .topic-panel{
      background-color: $topicList-table-tr-bg-color;
      border: 1px solid $topicList-table-border-color;
    }

    //for mobile phones
    @media (max-width: $mobile-max){
      table-layout: fixed;

      thead{
        display: none;
      }
      .topic-panel{
        .topic{
          display: block;
          padding: 5px;
          font-size: 14px;
          font-weight: bold;
          overflow-wrap: break-word;

          a{
            text-decoration: none;
            color: $topicList-font-color;
          }
        }
        .creator{
          padding-left: 5px;
        }
        .creator, .posts, .date{
          font-size: 12px;
          width: 33%;
          float: left;
        }
        .date{
          padding-right: 5px;
          text-align: right;

          &:after{
            clear: both;
          }
        }
      }
    }
    //for desktop screens
    @media (min-width: $desktop-min){
      .topic-head .topic{
        padding-left: 5px;
      }
      .topic-panel{
        height: 30px;

        .topic{
          display: inline-block;
          width: 60%;
          padding: 5px;
          font-size: 12px;
          font-weight: bold;
          overflow-wrap: break-word;

          a{
            text-decoration: none;
            color: $topicList-font-color;

            &:hover{
              text-decoration: underline;
            }
          }
        }
        .creator, .posts, .date{
          width: 15%;
          font-size: 12px;
        }
        .date{
          padding-right: 5px;
        }
      }
    }
  }

  .new-topic-btn{
    display: inline-block;
    background-color: $topicList-new-topic-bg-color;
    color: $topicList-new-topic-font-color;
    font-size: 12px;
    text-decoration: none;
    margin-top: 5px;
    padding: 4px;
  }
}
