$bg-color: #444444;

$header-bg-color: #333333;
$header-font-color: #bcbcbc;
$header-btn-bg-color: #c14924;
$header-btn-font-color: #ffffff;

$categories-table-th-font-color: #777777;
$categories-table-td-font-color: #bcbcbc;
$categories-table-border-color: #666666;

$register-bg-color: #555555;
$register-font-color: #bcbcbc;
