$bg-color: #444444;

$header-bg-color: #333333;
$header-font-color: #bcbcbc;
$header-btn-bg-color: #a14944;
$header-btn-font-color: #dddddd;

$categories-table-th-font-color: #777777;
$categories-table-td-font-color: #bcbcbc;
$categories-table-border-color: #666666;

$register-bg-color: #555555;
$register-font-color: #bcbcbc;
$register-btn-bg-color: #1f92bf;
$register-btn-font-color: #dddddd;
$register-error-font-color: #f1592a;

$login-bg-color: #555555;
$login-font-color: #bcbcbc;
$login-btn-bg-color: #1f92bf;
$login-btn-font-color: #dddddd;
$login-error-font-color: #f1592a;

$topicList-font-color: #bcbcbc;
$topicList-breacrumbs-bg-color: #333333;
$topicList-table-tr-bg-color: #454949;
$topicList-table-td-font-color: #bcbcbc;
$topicList-table-border-color: #666666;
$topicList-new-topic-bg-color: #0f82af;
$topicList-new-topic-font-color: #eeeeee;

$topicCreate-bg-color: #dddddd;
$topicCreate-font-color: #bcbcbc;
$topicCreate-submit-bg-color: #0f82af;
$topicCreate-submit-font-color: #eeeeee;

$topic-bg-color: #454949;
$topic-font-color: #bcbcbc;
$topic-new-post-bg-color: #0f82af;
$topic-new-post-font-color: #eeeeee;
$topic-border-color: #666666;
