#categories{
  width: 100%;
  border-collapse: collapse;

  .category-panel{
    border-left: 3px solid $categories-table-border-color;
    border-top: 1px solid $categories-table-border-color;
    border-bottom: 1px solid $categories-table-border-color;

    td{
      padding: 5px;
      margin: 0px;

      a{
        text-decoration: none;
        color: $categories-table-td-font-color;
        font-weight: bold;

        &:hover{
          text-decoration: underline;
        }
      }
      p{
        color: $categories-table-td-font-color;
        font-size: 10px;
      }
    }
  }
}
