#header{
  position: relative;
  background-color: $header-bg-color;
  height: 80px;

  h1{
    color: $header-font-color;
    position: absolute;
    left: 5%;
    margin: 0px;
    line-height: 80px;
    font-size: 30px;
    cursor: pointer;
  }

  ul{
    display: inline-block;
    list-style-type: none;
    position: absolute;
    right: 5%;
    margin: 0px;
    padding-left: 0px;
    line-height: 80px;

    li{
      display: inline-block;
      margin: 2px;
      line-height: 20px;

      a{
        text-decoration: none;
        background-color: $header-btn-bg-color;
        color: $header-btn-font-color;
        font-size: 14px;
        border: 2px solid transparent;
        padding: 2px 3px;

        &:hover{
          background-color: $header-btn-font-color;
          color: $header-btn-bg-color;
          border: 2px solid $header-btn-bg-color;
          cursor: pointer;
        }
      }

      .dropdown{
        position: absolute;
        right: 0px;
        background-color: $bg-color;
        padding: 10px 0px;
        border: 1px solid black;
        display: none;

        button{
          background-color: $bg-color;
          color: $header-font-color;
          padding: 5px;
          border: none;
          cursor: pointer;

          @media (min-width: $desktop-min){
            font-size: 15px;
          }
        }
      }
      .username{
        color: $header-font-color;
        font-size: 14px;
        font-weight: bold;

        @media (min-width: $desktop-min){
          font-size: 20px;
        }
      }
    }
    .logged-in:hover .dropdown, .logged-in:active .dropdown{
      display: block;
    }
  }
}
