//post
#post{
  border: 1px solid $topic-border-color;

  .header{
    position: relative;
    background-color: $topic-border-color;
    color: $header-font-color;
    height: 20px;

    .username{
      position: absolute;
      left: 10px;
    }
    .date{
      position: absolute;
      right: 10px;
    }
  }

  .message{
    background-color: $topic-bg-color;
    color: $topic-font-color;
    min-height: 60px;
    padding: 10px;

    pre{
      @include white-space-pre-wrap();
      word-wrap: break-word;

      .spoiler{
        background-color: $topic-font-color;
      }
    }

  }
}
