/* import helpers */
@import "./helpers/colors";
@import "./helpers/mixins";
@import "./helpers/screens";

/* import component styles */
@import "./components/pages/home";
@import "./components/pages/login";
@import "./components/pages/register";
@import "./components/partials/categories";
@import "./components/partials/header";

* {
  box-sizing: border-box;
  font-family: Helvetica,Arial,sans-serif;
}
body{
  background-color: $bg-color;
  margin: 0px;
}
